@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100%;
  min-height: 100vh;
  min-width: 300px;
  line-height: 10px;
  font-family: sans-serif, "Neue Haas Grotesk","Helvetica Neue", Helvetica;
  background-color: #F5F5F5;
  color: #000000;

}

.button:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

h1 {
  font-size: 30px;
  text-align: center;
}

h2 {
  font-size: 26px;
}


.button {
  display: flex;
  background: rgba(180, 180, 180, 0.074);

  border: 0.1rem solid rgba(255, 255, 255, 0.548);
  color: rgba(255, 255, 255, 0.533);

  border-radius: 4rem;
  min-height: 4rem;
  min-width: 4rem;

  align-items: center;
  font-size: 1.6rem;
  justify-content: center;
  transition: color 0.2s ease-in-out 0s, background 0.2s ease-in-out 0s;
}
